Repository smartdevicelink/sdl_java_suite, pull requests merged in 2020-09, with the labels that each got.

#1457 Refactor Text & Graphic Manager to use queues
  android/sdl_android/src/androidTest/java/com/smartdevicelink/managers/screen/ScreenManagerTests.java
  android/sdl_android/src/androidTest/java/com/smartdevicelink/managers/screen/TextAndGraphicManagerTests.java
  android/sdl_android/src/androidTest/java/com/smartdevicelink/managers/screen/TextAndGraphicUpdateOperationTest.java
  android/sdl_android/src/main/java/com/smartdevicelink/managers/screen/TextAndGraphicManager.java
  base/src/main/java/com/smartdevicelink/managers/screen/BaseScreenManager.java
  base/src/main/java/com/smartdevicelink/managers/screen/BaseTextAndGraphicManager.java
  base/src/main/java/com/smartdevicelink/managers/screen/TextAndGraphicUpdateOperation.java
  base/src/main/java/com/smartdevicelink/managers/screen/TextsAndGraphicsState.java
  javaSE/src/main/java/com/smartdevicelink/managers/screen/TextAndGraphicManager.java
Labels: best practice, manager-screen

#1435 Add Reason Param to Protocol NAK Base
  base/src/main/java/com/smartdevicelink/protocol/SdlProtocolBase.java
  base/src/main/java/com/smartdevicelink/protocol/enums/ControlFrameTags.java
Labels: proposal, protocol

#1453 Generate @deprecated annotation in JavaDocs when applicable
  generator/templates/base_template.java
  generator/templates/enum_template.java
  generator/templates/function_template.java
  generator/templates/javadoc_return.java
  generator/templates/javadoc_template.java
  generator/templates/javadoc_version_info.java
  generator/templates/struct_template.java
  generator/transformers/enums_producer.py
  generator/transformers/functions_producer.py
  generator/transformers/structs_producer.py
Labels: best practice, rpc-spec-generator
